@page
@model PrivacyModel
@{
    ViewData["Title"] = "Main Page";
}

<html>
    <head>
        <h1>@ViewData["Title"]</h1>
    </head>
    <body>
          <input type="text" name="username" placeholder="Username"/>
    </body>              
</html>
